{% extends 'base.jinja2' %}
{% from 'widgets/entity_selector.jinja2' import entity_selector %}
{% from 'form.jinja2' import render_form %}

{% block title %}Add split {{ split.id }} participant{% endblock %}

{% block content %}
{# <table>
    <tr>
        <td>Current share</td>
        <td>
            {% if split.share_preview.current_share | float > 0 %}
            {{ split.share_preview.current_share }} {{ split.currency | upper }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Next share</td>
        <td>
            {% if split.share_preview.next_share | float > 0 %}
            {{ split.share_preview.next_share }} {{ split.currency | upper }}
            {% endif %}
        </td>
        <td>(with one more participant)</td>
    </tr>
</table>

<h2>Add participant</h2> #}
<form method="post">
    <table>
        <tr>
            <td>Entity</td>
            <td>
                {{ entity_selector('entity', g.actor_entity.name, g.actor_entity.id) }}
            </td>
        </tr>
        {# Render fields from form_entity (excluding entity_name and entity_id already rendered) #}
        {{ render_form(form_entity, except=('entity_name', 'entity_id'), new_table=False) }}
    </table>
</form>


<details>
    <summary>add by tag instead</summary>
    <h2>Add participants by Tag</h2>
    <form method="post">
        <table>
            <tr>
                <td>Entity Tag</td>
                <td>
                    <select name="entity_tag_id" id="participant-tag-selector" class="form-control">
                        {% for value, label in form_tag.entity_tag_id.choices %}
                        <option value="{{ value }}" {% if value=="" %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {# Render remaining fields for the tag form #}
            {{ render_form(form_tag, except=('entity_tag_id'), new_table=False) }}
        </table>
    </form>
</details>

<script src="/static/js/entitySelector.js"></script>
{% endblock %}