{% extends "base.jinja2" %}
{% from "split/macro_list.jinja2" import split_list with context %}
{% from 'widgets/pagination.jinja2' import pagination_control %}

{% block title %}Splits{% endblock %}
{% block content %}
<div class="tx-page-actions">
    <a href="{{ url_for('split.add') }}" class="tx-add-btn">+ NEW</a>
</div>

{{ split_list(splits) }}
{{ pagination_control(page, total, limit, 'split.list') }}
{% endblock %}