{% extends "base.jinja2" %}
{% from "split/macro_list.jinja2" import split_list with context %}
{% from 'widgets/pagination.jinja2' import pagination_control %}

{% block title %}Splits{% endblock %}
{% block content %}
<details>
    <summary>read manual</summary>
    <p>Split — a function that withdraws the same amount of money from all participants and sends it to one
        recipient.
    </p>
    <p>Splits are useful when you want to collectively buy something expensive.</p>
    <p>Splits can be used to fairly distribute the cost of shared expenses, like rent or utilities.</p>
    <p>An example:
    <ul>
        <li>you create a Split for 50 USD</li>
        <li>5 people join your Split as participants</li>
        <li>you Perform the Split</li>
        <li>a confirmed Transaction for 10 USD is created from each participant to you</li>
        <li>now you have 50 USD</li>
    </ul>
    </p>

</details>

<p><a href="{{ url_for('split.add') }}">Add</a></p>
{{ split_list(splits) }}
{{ pagination_control(page, total, limit, 'split.list') }}
{% endblock %}