{% extends "base.jinja2" %}
{% from "split/macro_list.jinja2" import split_list with context %}
{% from 'widgets/pagination.jinja2' import pagination_control %}

{% block title %}Splits{% endblock %}
{% block content %}
<details>
    <summary>read manual</summary>
    <p>Split — a function that withdraws the same amount of money from all participants and sends it to one
        recipient.
    </p>
    <p>An example:
    <ul>
        <li>you create a Split for 30 USD</li>
        <li>2 people join your Split as participants</li>
        <li>you <i>perform</i> the split</li>
        <li>you receive 2 completed Transactions for 15 USD <i>(calculated share)</i> from each participant</li>
    </ul>
    </p>

</details>

<p><a href="{{ url_for('split.add') }}">Add</a></p>
{{ split_list(splits) }}
{{ pagination_control(page, total, limit, 'split.list') }}
{% endblock %}