{% from 'widgets/tag_inline.jinja2' import tag_inline %}

{% macro split_list(splits, actor_entity_id) %}
{% if splits %}
<div class="wide-table-wrapper">
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Actor</td>
                <td>Created At</td>
                <td>Recipient</td>
                <td>Comment</td>
                {# <td>Tags</td> #}
                <td>Amount</td>
                <td>Currency</td>
                <td>Participants</td>
                <td class="right-align">≈Calc. share</td>
                <td class="right-align">≈Next share</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for split in splits %}
            <tr {% if split.performed %} class="secondary" {%endif%}>
                <td><a href="{{ url_for('split.detail', id=split.id) }}">{{ split.id }}</a></td>

                <td>
                    <a href="{{ url_for('entity.detail', id=split.actor_entity.id) }}"
                        class="{% if not split.actor_entity.active %}secondary inactive{% endif %}">
                        {{ split.actor_entity.name }}
                    </a>
                </td>
                <td>{{ human_readable_date(split.created_at) | safe }}</td>
                <td>
                    <a href="{{ url_for('entity.detail', id=split.recipient_entity.id) }}"
                        class="{% if not split.recipient_entity.active %}secondary inactive{% endif %}">
                        {{ split.recipient_entity.name }}
                    </a>
                    {% for tag in split.recipient_entity.tags %}
                    {{ tag_inline(tag) }}
                    {% endfor %}
                </td>
                <td>{{ split.comment or ""}}</td>
                {# <td>
                    {% for tag in split.tags %}
                    {{ tag_inline(tag) }}
                    {% endfor %}
                </td> #}
                <td class="right-align">{{ split.amount }}</td>
                <td>{{ split.currency | upper }}</td>
                <td class="center-align">{{ split.participants | length or "" }}</td>
                <td class="right-align">
                    {% if split.share_preview.current_share | float > 0 %}
                    {{ split.share_preview.current_share }} {{ split.currency | upper }}
                    {% endif %}
                </td>
                <td class="right-align">
                    {% if not split.performed %}
                    {% if split.share_preview.next_share | float > 0 %}
                    {{ split.share_preview.next_share }} {{ split.currency | upper }}
                    {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if (split.participants | selectattr("entity.id", "equalto", g.actor_entity.id) | list) or
                    split.performed %}
                    {% else %}
                    <a href="{{ url_for('split.add_participant', id=split.id ) }}">Join!</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No splits.</p>
{% endif %}
{% endmacro %}