{% extends 'base.jinja2' %}

{% block title %}Remove split {{ split.id }} participant <span
    class="{% if not entity.active %}secondary inactive{% endif %}">{{ entity.name }}</span>?{% endblock %}

{% block content %}
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.delete(class_='big-button big-button-outline big-button-danger-outline big-button-inline') }}
</form>
{% endblock %}