services:
  api:
    volumes:
      - ./api:/opt/api
    command: --reload
    env_file:
      - secrets.dev.env
    depends_on:
      - db
    ports:
      - "8000:8000"

  ui:
    volumes:
      - ./ui:/opt/ui
    command: --reload
    env_file:
      - secrets.dev.env
    depends_on:
      - api
    ports:
      - "9000:9000"

  db:
    volumes:
      - db-dev-data:/var/lib/postgresql/data

volumes:
  db-dev-data:

