[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

# API
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pyjwt = "*"
requests = "*"

# UI
flask = "*"
Flask-WTF = "*"
Flask-CORS = "*"
gunicorn = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
ruff = "*"
pytest = "*"
httpx = "*"

[requires]
python_version = "3.12"
