{% extends 'base.jinja2' %}
{% from 'form.jinja2' import render_form %}

{% block title %}New entity{% endblock %}

{% block content %}
<form method="post">
    <h2>Entity</h2>
    {{ render_form(entity_form) }}
    <h2>Auth</h2>
    {{ render_form(auth_form) }}
</form>
{% endblock %}