{% extends "base.jinja2" %}
{% from "transaction/macro_list.jinja2" import transaction_list with context %}

{% block title %}Entity {{ entity.name }}{% endblock %}

{% block content %}
<p>
<table>
    <tr>
        <td>ID</td>
        <td>{{ entity.id }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{entity.name}}</td>
    </tr>
    <tr>
        <td>Comment</td>
        <td>{{ entity.comment }}</a></td>
    </tr>
    <tr>
        <td>Telegram ID</td>
        <td>{{ entity.telegram_id }}</a></td>
    </tr>
    <tr>
        <td>Created at</td>
        <td>{{ entity.created_at }}</a></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>{{ entity.active }}</a></td>
    </tr>
</table>
</p>

<p><a href="{{ url_for('entity.edit', id=entity.id) }}">Edit</a></p>

<h2>Balance</h2>

{% if not balance.confirmed and not balance.non_confirmed %}
<p>No transactions.</p>
{% endif %}

{% if balance.confirmed %}
<p>
    Confirmed:
<table>
    {% for currency,amount in balance.confirmed.items() %}
    <tr>
        <td class="right-align">{{ amount }}</td>
        <td>{{ currency | upper }}</td>
    </tr>
    {% endfor %}
</table>
</p>
{% endif %}

{% if balance.non_confirmed %}
<p>
    Non-confirmed (<a href="{{ url_for('transaction.list', entity_id=entity.id, confirmed=False) }}">Find</a>):
<table>
    {% for currency,amount in balance.non_confirmed.items() %}
    <tr>
        <td class="right-align {% if amount|float < 0 %}amount-negative{% endif %}">
            {{ amount}}
        </td>
        <td>{{ currency | upper }}</td>
    </tr>
    {% endfor %}
</table>
</p>
{% endif %}

<h2>Transactions</h2>
{{ transaction_list(transactions) }}

{% endblock %}