{% extends 'base.jinja2' %}
{% from 'form.jinja2' import render_form %}
{% from 'widgets/tag_selector.jinja2' import tag_selector %}

{% block title %}Edit entity {{ entity.id }}{% endblock %}

{% block content %}
<form method="post">
    <h2>Entity</h2>
    <table>
        {{ render_form(entity_form, except=('entity-tag_ids',), new_table=False) }}
    </table>

    <h2>Auth</h2>
    {{ render_form(auth_form) }}

    <h2>Tags</h2>
    <table>
        <tr>
            <td>Tags</td>
            <td>{{ tag_selector('entity-tag_ids', all_tags, entity_form.tag_ids.data or []) }}</td>
        </tr>
    </table>
</form>

<h2>Cards</h2>
{% if cards and cards|length > 0 %}
<p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Comment</th>
            <th>Created at</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for c in cards %}
        <tr>
            <td>#{{ c.id }}</td>
            <td>{{ c.comment or '—' }}</td>
            <td>{{ human_readable_date(c.created_at) }}</td>
            <td>
                <a href="{{ url_for('entity.delete_card', id=entity.id, card_id=c.id) }}">X</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</p>
{% else %}
<p>No cards.</p>
{% endif %}

<details>
    <summary>Add Card</summary>
    <form method="post" action="{{ url_for('entity.add_card', id=entity.id) }}">
        {{ render_form(add_card_form) }}
    </form>
</details>

{% endblock %}