{% extends 'base.jinja2' %}
{% from 'form.jinja2' import render_form %}
{% from 'widgets/tag_manager.jinja2' import tag_manager %}

{% block title %}Edit entity {{ entity.id }} {{ entity.name }}{% endblock %}

{% block content %}
<form method="post">
    <h2>Entity</h2>
    {{ render_form(entity_form) }}
    <h2>Auth</h2>
    {{ render_form(auth_form) }}
</form>
<h2>Tags</h2>
{{ tag_manager("entity", entity.id, entity.tags, all_tags) }}
{% endblock %}