{% extends "base.jinja2" %}
{% from 'widgets/tag_inline.jinja2' import tag_inline %}
{% from 'widgets/pagination.jinja2' import pagination_control %}

{% block title %}Entities{% endblock %}
{% block content %}
<p><a href="{{ url_for('entity.add') }}">Add</a></p>
{% if entities %}
<div class="wide-table-wrapper">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Tags</td>
                <td>Comment</td>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ url_for('entity.detail', id=entity.id) }}">
                        {{ entity.name }}
                    </a>
                </td>
                <td>
                    {% for tag in entity.tags %}
                    {{ tag_inline(tag) }}
                    {% endfor %}
                </td>
                <td>{{ entity.comment or ""}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No entities.</p>
{% endif %}
{{ pagination_control(page, total, limit, 'entity.list') }}
{% endblock %}