{% macro human_date(date_value) %}
{{ human_readable_date(date_value) | safe }}
{% endmacro %}

{% macro human_date_or_empty(date_value) %}
{{ human_readable_date(date_value) | safe if date_value else '' }}
{% endmacro %}