{% macro human_date(date_value) %}
{{ human_readable_date(date_value) }}
{% endmacro %}

{% macro human_date_or_empty(date_value) %}
{{ human_readable_date(date_value) if date_value else '' }}
{% endmacro %}