{% for entity in entities %}
<a href="#" class="search-result-item{% if not entity.active %} secondary inactive{% endif %}" x-id="{{ entity.id }}"
    x-name="{{ entity.name }}">{{ entity.name }}</a>
{% endfor %}