{% macro tag_inline(tag, href=true) %}
{%- set hue = (tag.id * 41.9) % 360 -%}
{%- set color = "hsl(" + hue|string + ", 66%, 44%)" -%}
{%- set split_color = "hsl(" + hue|string + ", 100%, 55%)" -%}

<small class="tag-badge"
    style="--tag-color: {{ color }}; --tag-split-color: {{ split_color }}">
    {% if href %}
    <a href="{{ url_for('tag.detail', id=tag.id )}}">{{ tag.name }}</a>
    {% else %}
    <span>{{ tag.name }}</span>
    {% endif %}
</small>
{% endmacro %}