{% from 'widgets/tag_inline.jinja2' import tag_inline %}

{% macro tag_selector(field_name, available_tags, selected_tag_ids=[]) %}
<div class="tag-selector">
    <div class="tag-options">
        {% for tag in available_tags|sort(attribute='name') %}
        <label class="tag-option">
            <input type="checkbox" name="{{ field_name }}" value="{{ tag.id }}" {% if tag.id in selected_tag_ids
                %}checked{% endif %}>
            {{ tag_inline(tag, href=false) }}
        </label>
        {% endfor %}
    </div>
</div>
{% endmacro %}