{% macro treasury_inline(treasury) %}
{%- set hue = (treasury.id * 73.1) % 360 -%}
{%- set color = "hsl(" + hue|string + ", 66%, 44%)" -%}

<small class="treasury-badge" style="background-color: {{ color }}">
    <a href="{{ url_for('treasury.detail', id=treasury.id) }}"
        class="{% if not treasury.active %}secondary inactive{% endif %}">{{ treasury.name }}</a>
</small>
{% endmacro %}