/* LAYOUT */
main {
  margin-top: 0.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 640px) {
  main {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
}