{% extends 'base.jinja2' %}
{% from 'form.jinja2' import render_form %}
{% from "transaction/macro_list.jinja2" import transaction_list with context %}

{% block title %}Currency exchange completed{% endblock %}

{% block content %}
<p>Exchanged {{ receipt.source_amount }} {{ receipt.source_currency}} to <strong>{{ receipt.target_amount }} {{
                receipt.target_currency }}</strong>. Rate is {{ receipt.rate }}</p>

{{ transaction_list(receipt.transactions) }}

{% endblock %}