{% extends "base.jinja2" %}
{% block title %}Transaction {{ transaction.id }}{% endblock %}
{% block content %}
<table>
    <tr>
        <td>ID</td>
        <td>{{ transaction.id }}</td>
    </tr>
    <tr>
        <td>From</td>
        <td>
            <a href="{{ url_for('entity.detail', id=transaction.from_entity_id) }}">{{transaction.from_entity.name}}</a>
        </td>
    </tr>
    <tr>
        <td>To</td>
        <td>
            <a href="{{ url_for('entity.detail', id=transaction.to_entity_id) }}">{{transaction.to_entity.name}}</a>
        </td>
    </tr>
    <tr>
        <td>Amount</td>
        <td>{{ transaction.amount }}</a></td>
    </tr>
    <tr>
        <td>Currency</td>
        <td>{{ transaction.currency | upper }}</a></td>
    </tr>
    <tr>

        <td>Comment</td>
        <td>{{ transaction.comment or '' }}</a></td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{ transaction.status }}</a></td>
    </tr>
    <tr>
        <td>Created at</td>
        <td>{{ transaction.created_at }}</a></td>
    </tr>
    <tr>
        <td>Modified at</td>
        <td>{{ transaction.modified_at }}</a></td>
    </tr>
</table>
{% if transaction.status != "completed" %}
<p><a href="{{ url_for('transaction.complete', id=transaction.id) }}">Complete</a></p>
<p><a href="{{ url_for('transaction.edit', id=transaction.id) }}">Edit</a></p>
<p><a href="{{ url_for('transaction.delete', id=transaction.id) }}">Delete</a></p>
{% endif %}
{% endblock %}