{% extends "base.jinja2" %}
{% from "transaction/macro_list.jinja2" import transaction_list with context %}
{% block title %}Transactions{% endblock %}

{% block content %}
<p><a href="{{ url_for('transaction.add') }}">Add</a></p>
{{ transaction_list(transactions) }}
{% endblock %}