{% extends "base.jinja2" %}
{% from "transaction/macro_list.jinja2" import transaction_list with context %}
{% block title %}Transactions{% endblock %}

{% block content %}
{{ transaction_list(transactions) }}
{% endblock %}