{% from 'widgets/tag_inline.jinja2' import tag_inline %}
{% from 'widgets/treasury_inline.jinja2' import treasury_inline %}

{% macro transaction_list(transactions) %}
{% if transactions %}
<div class="wide-table-wrapper">
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Date</td>
                <td>From</td>
                <td>To</td>
                <td>Amount</td>
                <td>Currency</td>
                <td>Treasury</td>
                <td>Tags</td>
                <td>Comment</td>
                <td>Status</td>
                <td>Actor</td>
            </tr>
        </thead>
        {% for transaction in transactions %}
        <tr {% if transaction.status=="draft" %} class="secondary" {%endif%}>
            <td><a href="{{ url_for('transaction.detail', id=transaction.id) }}">{{ transaction.id }}</a></td>

            <td>{{ human_readable_date(transaction.created_at) | safe }}</td>

            <td>
                <a href="{{ url_for('entity.detail', id=transaction.from_entity_id) }}">{{ transaction.from_entity.name
                    }}</a>
                {% for tag in transaction.from_entity.tags %}
                {{ tag_inline(tag) }}
                {% endfor %}
            </td>

            <td>
                <a href="{{ url_for('entity.detail', id=transaction.to_entity_id) }}">{{ transaction.to_entity.name
                    }}</a>
                {% for tag in transaction.to_entity.tags %}
                {{ tag_inline(tag) }}
                {% endfor %}
            </td>


            <td class="right-align">{{ transaction.amount }}</td>
            <td>{{ transaction.currency | upper }}</td>

            <td>
                {% if transaction.from_treasury_id or transaction.to_treasury_id %}

                {% if transaction.from_treasury_id %}
                {{ treasury_inline(transaction.from_treasury) }}
                {% else %}
                x
                {% endif %}
                →
                {% if transaction.to_treasury_id %}
                {{ treasury_inline(transaction.to_treasury) }}
                {% else %}
                x
                {% endif %}

                {% endif %}

            </td>

            <td>
                {% for tag in transaction.tags %}
                {{ tag_inline(tag) }}
                {% endfor %}
            </td>
            <td>{{ transaction.comment or '' }}</td>
            <td>{{ transaction.status }}</td>
            <td>
                <a
                    href="{{ url_for('entity.detail', id=transaction.actor_entity_id) }}">{{transaction.actor_entity.name}}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<p>No transactions.</p>
{% endif %}
{% endmacro %}