{% extends 'base.jinja2' %}
{% from 'form.jinja2' import render_form %}

{% block title %}Currency exchange preview{% endblock %}

{% block content %}
<p>Exchange {{ preview.source_amount }} {{ preview.source_currency }} to <strong>{{
        preview.target_amount }} {{
        preview.target_currency }}</strong>? Rate is {{ preview.rate }}</p>

<form method="post" action="{{ url_for('currency_exchange.exchange') }}">
    <input type="hidden" name="source_amount" value="{{ preview.source_amount }}">
    <input type="hidden" name="source_currency" value="{{ preview.source_currency }}">
    <input type="hidden" name="target_currency" value="{{ preview.target_currency }}">
    <input type="hidden" name="entity_id" value="{{ preview.entity_id }}">
    <button type="submit">Exchange</button>
</form>
{% endblock %}