{% extends 'base.jinja2' %}
{% from 'form.jinja2' import render_form %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="post">
    {{ render_form(form) }}
</form>

<p><a href="/auth/oidc/login" class="button">Login with OpenID Connect</a></p>

{% endblock %}