{% extends 'base.jinja2' %}
{% from 'widgets/entity_selector.jinja2' import entity_selector %}
{% from 'widgets/tag_selector.jinja2' import tag_selector %}
{% from 'form.jinja2' import render_form %}

{% block title %}New Invoice{% endblock %}

{% block content %}
<form method="post">
    <table>
        <tr>
            <td><b>From</b></td>
            <td>{{ entity_selector('from_entity') }}</td>
        </tr>
        <tr>
            <td><b>To</b></td>
            <td>{{ entity_selector('to_entity') }}</td>
        </tr>
        {{ render_form(form, except=(
        'from_entity_name','from_entity_id','to_entity_name','to_entity_id',
        'billing_period','amount_1','currency_1','amount_2','currency_2','amount_3','currency_3','tag_ids'
        ), new_table=False) }}
        <tr>
            <td>Billing period</td>
            <td>{{ form.billing_period() }}</td>
        </tr>
        <tr>
            <td>Amount 1</td>
            <td>{{ form.amount_1() }} {{ form.currency_1() }}</td>
        </tr>
        <tr>
            <td>Amount 2</td>
            <td>{{ form.amount_2() }} {{ form.currency_2() }}</td>
        </tr>
        <tr>
            <td>Amount 3</td>
            <td>{{ form.amount_3() }} {{ form.currency_3() }}</td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>{{ tag_selector('tag_ids', all_tags, []) }}</td>
        </tr>
    </table>
</form>

<script src="/static/js/entitySelector.js"></script>
<script src="/static/js/multiSelect.js"></script>
{% endblock %}