{% extends 'base.jinja2' %}

{% block title %}Delete invoice {{ invoice.id }}?{% endblock %}

{% block content %}
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.delete(class_='big-button big-button-outline big-button-danger-outline big-button-inline') }}
</form>
{% endblock %}