{% extends "base.jinja2" %}
{% from "invoice/macro_list.jinja2" import invoice_list with context %}
{% from 'widgets/pagination.jinja2' import pagination_control %}

{% block title %}Invoices{% endblock %}

{% block content %}
<div class="tx-page-actions">
    <a href="{{ url_for('invoice.bulk_add') }}" class="tx-add-btn">Issue fee invoices</a>
</div>

{{ invoice_list(invoices) }}
{{ pagination_control(page, total, limit) }}
{% endblock %}