{% extends 'base.jinja2' %}

{% block title %}Delete Treasury <span class="{% if not treasury.active %}secondary inactive{% endif %}">{{
    treasury.name }}</span>?{% endblock %}

{% block content %}
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.delete(class_='big-button big-button-outline big-button-danger-outline big-button-inline') }}
</form>
{% endblock %}