{% macro render_form(form, except=(), new_table=True) %}
{% if new_table %}<table>{% endif %}

    {% for field in form %}
    {% if field.name not in except %}
    <tr>
        {% if field.type not in ('CSRFTokenField', 'SubmitField') and field.widget.__class__.__name__ != 'HiddenInput'%}
        <td>{{ field.label() }}</td>
        {% endif %}
        <td>
            {% if field.data is not none %}
            {{ field(autocomplete="off", value=field.data or (field.label.text if field.type == 'SubmitField' else ''))
            }}
            {% else %}
            {{ field(autocomplete="off") }}
            {% endif %}
        </td>
    </tr>
    {% if field.description %}
    <tr>
        <td></td>
        <td class="description">
            <small class="secondary">{{ field.description }}</small>
        </td>
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if new_table %}
</table>{% endif %}

{% if form.errors %}
<ul class="errors">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
    {% for error in field_errors %}
    <li>{{ form[field_name].label }}: {{ error }}</li>
    {% endfor %}
    {% endfor %}
</ul>
{% endif %}

{% endmacro %}