/* master stylesheet imports all components */

{% set css_files = [
  'base.css',
  'layout.css',
  'elements.css',
  'utilities.css',
  'navigation.css',
  'forms.css',
  'badges.css',
  'state.css',
  'login.css',
  'home.css',
  'entry-form.css',
  'form-variants.css',
  'manual-deposit.css',
  'details.css',
  'split.css',
  'exchange.css',
  'transaction.css',
  'entity.css'
] %}
{% for css_file in css_files %}
@import url('/static/{{ css_file }}?v={{ css_cache_buster }}');
{% endfor %}
